body {
  margin: 0;
  padding: 0;

  --light: #f4f4f4;
  --dark: #442843;
  --primary: #6c3c68;
  --secondary: #ffd54a;
  --info: #ff955d;

  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: var(--title);
}

p {
  font-family: var(--text);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

header img {
  width: 60px;
  height: 60px;
  padding: 2px;
}

header h1 {
  font-family: 'Lobster Two', sans-serif;
  font-size: 28px;
  color: var(--dark);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark);
  min-height: 75vh;
  border: 1px solid var(--dark);
}

.hero .text h2 {
  margin: 0;
  color: var(--secondary);
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

.hero .text p {
  margin: 0;
  color: var(--light);
  text-align: center;
  padding: 20px;
  font-size: 28px;
  line-height: 1.5em;
}

.hero img {
  width: 50px;
  transform: rotate(-90deg);
  padding-bottom: 1em;
}