body {
  margin: 0;
  padding: 0;

  --light: #f4f4f4;
  --dark: #442843;
  --primary: #6c3c68;
  --secondary: #ffd54a;
  --info: #ff955d;

  font-family: 'Roboto', sans-serif;
  background-color: var(--light);
}

h1, h2, h3, h4, h5 {
  font-family: var(--title);
}

p {
  font-family: var(--text);
  line-height: 1.5em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

header img {
  width: 60px;
  height: 60px;
  padding: 2px;
}

header h1 {
  font-family: 'Lobster Two', sans-serif;
  font-size: 20px;
  color: var(--dark);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark);
  min-height: 75vh;
  border: 1px solid var(--dark);
}

.hero .text h2 {
  margin: 0;
  color: var(--secondary);
  text-align: center;
  padding: 10px;
  padding-top: 45px;
  font-size: 30px;
}

.hero .text p {
  margin: 0;
  color: var(--light);
  text-align: center;
  padding: 20px;
  font-size: 24px;
  line-height: 1.5em;
}

.hero img {
  width: 200px;
  padding-bottom: 1em;
}

.o-problema {
  padding-left: 20px;
  padding-right: 20px;
}

.o-problema h2 {
  text-align: center;
  font-size: 30px;
  color: var(--primary);
}

.o-problema p {
  font-size: 20px;
  line-height: 1.5em;
}

.o-problema li {
  font-size: 20px;
  line-height: 1.5em;
}

.prova {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  background-color: var(--dark);
}

.prova img {
  margin-top: 20px;
  width: 250px;
}

.prova h2 {
  text-align: center;
  font-size: 25px;
  color: var(--secondary);
  padding-top: 10px;
  margin: 0;
}

.prova p {
  font-size: 21px;
  line-height: 1.5em;
  color: var(--light);
  text-align: center;
}

.metodo {
  background-color: var(--light);
  padding: 5px;
}

.metodo h2 {
  text-align: center;
  font-size: 24px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--primary);
}

.metodo img {
  width: calc(100vw - 10px);
}

.metodo h3 {
  font-size: 20px;
  text-align: center;
  color: var(--dark);
}

.metodo p {
  font-size: 21px;
  padding: 15px;
}

.o-que-vai-aprender {
  background-color: var(--dark);
  padding: 20px;
}

.o-que-vai-aprender h2 {
  text-align: center;
  font-size: 25px;
  color: var(--secondary);
}

.o-que-vai-aprender p, .o-que-vai-aprender li {
  color: var(--light);
  font-size: 21px;
  line-height: 1.8em;
}

.o-que-vai-aprender ul {
  margin-left: 0;
  padding-left: 20px;
  list-style: none;
}

.o-que-vai-aprender ul li:before {
  content: "✓";
  padding-right: 5px;
}

.modulos {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.modulos h2 {
  font-size: 22px;
  color: var(--primary);
  align-self: center;
}

.modulos p {
  font-size: 18px;
  padding: 20px;
}

.modulos #dfmei-logo {
  font-family: "Rosarivo", cursive;
  font-style: italic;
  font-size: 18px;
  color: var(--dark);
  align-self: center;
}

.modulos h3 {
  font-size: 22px;
}

.modulos ul {
  all: unset;
  margin:0;
  list-style: none;
}

.modulos ul li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.modulos a {
  margin-top: 10px;
  margin-bottom: 30px;
  color: var(--primary);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  align-self: center;
  border: 3px solid var(--primary);
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px 50px 50px 50px;
}

.modulos a .link-internal-div {
  display: flex;
  align-items: center;
}

.modulos a .link-internal-div img {
  width: 25px;
  height: 25px;
  padding-left: 6px;
}

.bonus {
  background-color: var(--dark);
  color: var(--light);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bonus p:first-child {
  font-size: 24px;
}

.bonus h2 {
  font-size: 30px;
  text-align: center;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.bonus p {
  font-size: 18px;
}

.bonus .div-planilhas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bonus .div-planilhas .div-cada-planilha img {
  width: 100px;
  height: 100px;
}

.bonus .div-planilhas .div-cada-planilha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bonus h3 {
  font-size: 25px;
  text-align: center;
  color: var(--secondary);
}

.bonus .temporizador p {
  font-size: 21px;
}

.bonus .temporizador #tempo-restante {
  font-size: 30px;
  text-align: center;
}

.bonus a {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--secondary);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  align-self: center;
  border: 3px solid var(--secondary);
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px 50px 50px 50px;
}

.bonus a .link-internal-div {
  display: flex;
  align-items: center;
}

.bonus a .link-internal-div img {
  width: 25px;
  height: 25px;
  padding-left: 6px;
}

.quem-sou-eu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.quem-sou-eu h2 {
  text-align: center;
  font-size: 35px;
  color: var(--dark);
}

.quem-sou-eu img {
  width: 85%;
}

.quem-sou-eu h3 {
  text-align: center;
  color: var(--dark);
  font-size: 24px;
}

.quem-sou-eu p {
  font-size: large;
  line-height: 1.5em;
}

.ancorar-valor {
  padding: 20px;
  background-color: var(--dark);
}

.ancorar-valor h2 {
  text-align: center;
  color: var(--secondary);
  font-size: 25px;
}

.ancorar-valor img {
  width: calc(98vw - 20px)
}

.ancorar-valor p, .ancorar-valor li {
  color: var(--light);
  font-size: 21px;
  line-height: 1.8em;
}

.ancorar-valor ul {
  margin-left: 0;
  padding-left: 20px;
  list-style: none;
}

.ancorar-valor ul li:before {
  content: "✓";
  padding-right: 5px;
}

#oferta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

#oferta .preco {
  display: flex;
  flex-direction: column;
}

#oferta .preco p {
  padding: 5px 0;
  margin: 0 40px;
}

#p1, #p3 {
  font-size: 22px;
}

#p2 {
  font-size: 25px;
  align-self: center;
}

#p4 {
  font-size: 30px;
  align-self: center;
}

#p5 {
  font-size: 18px;
  align-self: center;
}

#oferta #tabela-ancoragem {
  padding: 10px;
  width: calc(100vw - 20px);
  
}

#oferta .lembrando {
  padding: 20px;
}

#oferta .lembrando p {
  font-size: 21px;
}

#oferta .lembrando #tempo-restante-2 {
  text-align: center;
  font-size: 25px;
}

#oferta a {
  margin-bottom: 35px;
  color: var(--primary);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  align-self: center;
  border: 3px solid var(--primary);
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px 50px 50px 50px;
}

#oferta a .link-internal-div {
  display: flex;
  align-items: center;
}

#oferta a .link-internal-div img {
  width: 25px;
  height: 25px;
  padding-left: 6px;
}

.garantia {
  padding: 20px;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light);
}

.garantia h3 {
  font-size: 28px;
}

.garantia p {
  font-size: 18px;
}

.garantia img {
  width: 80px;
  height: 80px;
}

.garantia a {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--secondary);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  align-self: center;
  border: 3px solid var(--secondary);
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px 50px 50px 50px;
}

.garantia a .link-internal-div {
  display: flex;
  align-items: center;
}

.garantia a .link-internal-div img {
  width: 25px;
  height: 25px;
  padding-left: 6px;
}

.faq {
  padding: 20px;
}

.faq h2 {
  font-size: 36px;
  text-align: center;
  color: var(--primary);
}

.faq details {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mais-duvidas {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  background-color: var(--dark);
  color: var(--light);
}

.mais-duvidas p {
  font-size: 18px;
}

.mais-duvidas h2 {
  color: var(--secondary);
  font-size: 22px;
  text-align: center;
}

.mais-duvidas a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  border: 2px solid var(--secondary);
  border-radius: 100px;
  padding: 10px 20px;
  color: var(--light);
  font-size: 21px;
}

.mais-duvidas img {
  width: 40px;
  padding: 0 40px 0px 25px;
}

footer {
  border: 1px solid #201c20;
  background-color: #201c20;
}

footer p {
  font-size: 8px;
}

.lgpd {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  font-family: inherit;
  bottom: 0px;
  position: fixed;
  display: block;
}

.lgpd p {
  margin: 0;
  font-size: small;
}

.lgpd button {
  font-size: medium;
  margin-top: 10px;
  background-color: var(--light);
}

@media (min-width: 600px) {
  .quem-sou-eu {
    display: flex;
    flex-direction: column;
  }

  .quem-sou-eu img {
    width: 20vw;
    align-self: center;
  }

  .metodo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .metodo img {
    width: 60vw;
    padding: 10px;
  }

  .lgpd {
    width: 98vw;
  }
}